<ion-header>
  <ion-toolbar class="ion-padding-top">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

@if (movie()) {
<ion-content [fullscreen]="true" [style.backgroundImage]="
        'linear-gradient(rgba(0,0,0, 0.1) 0%, rgba(0,0,0, 1) 100%), url(https://image.tmdb.org/t/p/original' + movie().poster_path + ')'
      ">
  <div class="content-detail">
    <div class="ion-padding-horizontal">
      <div class="actions">
        <ion-button (click)="share(movie())" class="singular-action">
          <ion-icon name="share-social-outline" class="icon"></ion-icon>
        </ion-button>
        <ion-button (click)="toggleFavorite(movie())" class="singular-action">
          @if (isFavorite()) {
            <ion-icon name="heart" class="icon"></ion-icon>
          } @else {
            <ion-icon name="heart-outline" class="icon"></ion-icon>
          }
        </ion-button>
      </div>
      <div class="detail-movie-box ion-padding">
        <h1>{{movie().title}}</h1>
        <p>
          @for (genre of movie().genres; track genre.id; let last = $last) {
            {{ genre.name }}{{ !last ? ', ' : '' }}
          }
        </p>
        <div class="grid-movie-data">
          <span><ion-icon name="star" class="icon-star"></ion-icon>{{(movie().vote_average / 10) * 5 |
            number:'1.1-1'}}</span>
          <span>
            @if ((movie().release_date | date:'yyyy') === currentYear) {
              {{movie().release_date | date:'mediumDate' }}
            } @else {
              {{movie().release_date | date:'yyyy'}}
            }
          </span>
          <span>{{movie().runtime}} min</span>
        </div>
        <p class="description">{{movie().overview}}</p>
        <div class="btns">
          <ion-button (click)="toggleWatchList(movie())"  expand="full" shape="round" color="light">
            @if (isWatchlist()) {
              <ion-icon name="checkmark-done-outline" class="icon-checkmark-done"></ion-icon>
            }
            Add watchList
          </ion-button>
          @if (trailers()[0]) {
            <ion-button (click)="openSite(trailers()[0].key)" expand="full" fill="outline" shape="round" color="light">Trailer</ion-button>
          }
        </div>
      </div>
    </div>
    @if (moviesRelated().length > 0) {
      <div class="section-home ion-padding-start ion-padding-bottom">
        <h2>Relacionados</h2>
        <swiper-container [slidesPerView]="2.3" [spaceBetween]="20">
          @for (movieRelated of moviesRelated(); track movieRelated.id) {
            @if (movieRelated.id !== movie().id) {
              <swiper-slide>
                <div [routerLink]="['/movie-detail', movieRelated.id]">
                  <ion-img [src]="'https://image.tmdb.org/t/p/w500' + movieRelated.poster_path" alt="{{ movieRelated.title }}"></ion-img>
                  <ion-title>{{movieRelated.title}}</ion-title>
                </div>
              </swiper-slide>
            }
          }
        </swiper-container>
      </div>
    }
  </div>
</ion-content>
}