<ion-header>
  <ion-toolbar class="ion-padding-top">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"
  style="background-image: linear-gradient(rgba(0,0,0, 0.1) 0%, rgba(0,0,0, 1) 100%), url('{{pelicula.imagen}}');">
  <div class="content-detail">
    <div class="ion-padding-horizontal">
      <div class="actions">
        <ion-button (click)="share(pelicula)" class="singular-action">
          <ion-icon name="share-social-outline" class="icon"></ion-icon>
        </ion-button>
        <ion-button class="singular-action">
          <ion-icon name="heart-outline" class="icon"></ion-icon>
        </ion-button>
      </div>
      <div class="detail-movie-box ion-padding">
        <h1>{{pelicula.nombre}}</h1>
        <p>{{pelicula.genero}}</p>
        <div class="grid-movie-data">
          <span><ion-icon name="star" class="icon-star"></ion-icon>{{pelicula.calificacion}}</span>
          <span>{{pelicula.year}}</span>
          <span>{{pelicula.duracion}} min</span>
        </div>
        <p class="description">{{pelicula.descripcion}}</p>
        <div class="btns">
          <ion-button expand="full" shape="round" color="light">Add watchList</ion-button>
          <ion-button expand="full" fill="outline" shape="round" color="light">Trailer</ion-button>
        </div>
      </div>
    </div>
    <div class="section-home ion-padding-start ion-padding-bottom">
      <h2>Similares</h2>
      <swiper-container [slidesPerView]="2.3" [spaceBetween]="20">
        @for (pelicula of peliculas; track pelicula.id) {
        <swiper-slide>
          <div [routerLink]="['/movie-detail', pelicula.id]">
            <ion-img [src]=pelicula.imagen></ion-img>
            <ion-title>{{pelicula.nombre}}</ion-title>
          </div>
        </swiper-slide>
        }
      </swiper-container>
    </div>
  </div>
</ion-content>