<ion-content [fullscreen]="true" class="ion-padding-horizontal safe-area-content">
  <h1>Watchlist</h1>
  <ion-grid>
    <ion-row>
      @if (watchlist().length > 0) {
        @for (movie of watchlist(); track movie.id) {
          <ion-col size="6" class="ion-margin-bottom">
            <div class="movie">
              <div [routerLink]="['/movie-detail', movie.id]">
                <ion-img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
                  alt="{{ movie.title }}"></ion-img>
                <ion-title>{{movie.title}}</ion-title>
              </div>
              <div (click)="presentActionSheet(movie)" class="trash-icon-content">
                <ion-icon name="trash-outline" class="trash-icon"></ion-icon>
              </div>
            </div>
          </ion-col>
        }
      } @else {
        <div class="ion-margin-top">
          <ion-title>No watchlist</ion-title>
        </div>
      }
    </ion-row>
  </ion-grid>
</ion-content>