h1 {
    span {
        color: #cdff67;
    }
}


.movie {
    position: relative;
    .heart-icon-content {
        position: absolute;
        right: 10px;
        top: 10px;
        --background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(2px);
        width: 40px;
        height: 40px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        --border-radius: 16px;
        .heart-icon {
            min-width: 22px;
            min-height: 22px;
            color: #FFF;
        }
    }
}

ion-item {
    --padding: none !important; 
    --padding-start: none !important;
    --inner-padding-end: none !important;
    --background: none;
    --color: white;
    --inner-border-width: 0 !important;
    font-family: "Oswald", sans-serif;
}

ion-item-option {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    color: #FFF;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    ion-icon {
        width: 22px;
        height: 22px;
        margin-right: 5px;
    }
}



ion-img {
    height: 15rem;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

ion-title {
    padding: 0;
    font-weight: 200;
    margin-top: 0.5rem;
}

ion-list {
    ion-item {
        --color: #222;
        color: #222;
    }
    ion-label {
        --color: #222;
        color: #222;
    }
}

.movie {
    &[data-swapy-highlighted] {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }
    .movie-content-top {
        &[data-swapy-dragging] {
            opacity: 0.5;
        }
    }
    .handle {
        width: 28px;
        height: 28px;
        position: absolute;
        top: 18px;
        left: 10px;
        color: rgba(255, 255, 255, 0.5);
    }
}


.favorites-list {
    height: 100%;
    overflow: auto;
}