<ion-content [fullscreen]="true" class="ion-padding-start safe-area-content">
  <div class="section-home">
    <h2>Estrenos</h2>
    <swiper-container [slidesPerView]="2.3" [spaceBetween]="20">
      @for (pelicula of peliculas; track pelicula.id) {
      <swiper-slide>
        <div [routerLink]="['/movie-detail', pelicula.id]">
          <ion-img [src]=pelicula.imagen></ion-img>
          <ion-title>{{pelicula.nombre}}</ion-title>
        </div>
      </swiper-slide>
      }
    </swiper-container>
  </div>
  <div class="section-home">
    <h2>Cartelera</h2>
    <swiper-container [slidesPerView]="2.3" [spaceBetween]="20">
      @for (pelicula of peliculas; track pelicula.id) {
      <swiper-slide>
        <div [routerLink]="['/movie-detail', pelicula.id]">
          <ion-img [src]="pelicula.imagen"></ion-img>
          <ion-title>{{pelicula.nombre}}</ion-title>
        </div>
      </swiper-slide>
      }
    </swiper-container>
  </div>
  <div class="section-home">
    <h2>Populares</h2>
    <swiper-container [slidesPerView]="2.3" [spaceBetween]="20">
      @for (pelicula of peliculas; track pelicula.id) {
      <swiper-slide>
        <div [routerLink]="['/movie-detail', pelicula.id]">
          <ion-img [src]="pelicula.imagen"></ion-img>
          <ion-title>{{pelicula.nombre}}</ion-title>
        </div>
      </swiper-slide>
      }
    </swiper-container>
  </div>
</ion-content>