.section-home {
  margin-bottom: 3rem;
}

ion-img {
  height: 15rem;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

ion-title {
  padding: 0;
  font-weight: 200;
  margin-top: 0.5rem;
}