.section-home {
  margin-bottom: 2.5rem;
  &:last-of-type {
    margin-bottom: 0;
  }
}

ion-img {
  height: 15rem;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

ion-title {
  padding: 0;
  font-weight: 200;
  margin-top: 0.5rem;
}

h2 {
  span {
    color: #cdff67;
  }
}